.qr-reader {
    width: 430px;
    height: 430px;
    margin: 0 auto;
    position: relative;
}

.qr-reader video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 426px) {
    .qr-reader {
        width: 100%;
    }
}